html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Edu TAS Beginner', cursive;
}

body {
    display: flex;
    flex-direction: column;
    background: url('https://cdn.pixabay.com/photo/2021/01/24/20/21/cloud-5946381_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

.content {
    flex: 1;
}

header {
    background-color: rgb(43, 99, 98);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 3em;
}

.jumbotron {
    background: rgb(111, 121, 177) !important;
    color: white;
}

.container {
    background: rgb(43, 99, 98);
    border-radius: 45px;
    padding: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1, .font-edu-tas-beginner {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
}

.form-control.font-edu-tas-beginner {
    font-size: 1.5em;
    background: rgb(255, 226, 213);
    border: none;
    color: black;
}

.form-control.font-edu-tas-beginner::placeholder {
    font-size: 1.5em;
}

.form-control:focus {
    background: rgb(255, 255, 255);
    color: black;
}

.btn-primary.font-edu-tas-beginner {
    font-size: 1.5em;
    background-color: rgb(50, 55, 97);
    border: none;
}

.btn-primary:hover {
    background-color: #4018e0;
}

.btn-secondary {
    color: rgb(43, 99, 98);
    background: linear-gradient(135deg, rgb(252, 115, 116) 0%, rgb(252, 115, 116) 100%);
    border-color: rgb(108, 117, 125);
}

#weather-result {
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(252, 115, 116) 0%, rgb(252, 115, 116) 100%);
    text-align: center;
}

#weather-result p {
    margin: 10px 0;
}

#weather-icon {
    width: 50px;
    height: 50px;
}

.footer {
    flex-shrink: 0;
    height: 650px;
    background: url('https://cdn.vectorstock.com/i/1000v/32/88/icon-weather-related-to-leisure-and-travel-symbol-vector-50703288.avif') no-repeat center center;
    background-size: cover;
}

.form-text.font-edu-tas-beginner {
    font-size: 3em;
}

.sidebar {
    padding: 20px;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-weather {
    background: linear-gradient(135deg, rgb(252, 115, 116) 0%, rgb(252, 115, 116) 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#forecast .card {
    justify-content: center;
    background: linear-gradient(135deg, rgb(52, 121, 120) 0%, rgb(60, 120, 119) 100%);
    color: white;
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgb(128, 146, 147);
}

#city-buttons button {
    width: 100%;
    margin-bottom: 10px;
}

.container-fluid {
    padding: 0;
}

.current-weather h2 {
    font-family: 'Edu TAS Beginner', cursive;
}

h3.font-edu-tas-beginner {
    margin-top: 20px;
}

.weather-info {
    color: #ff6347;
    font-weight: bold;
}

#form-submit {
    background-color: rgb(43, 99, 98);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#form-submit input[type="text"] {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form-submit button {
    background-color: rgb(50, 55, 97);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#form-submit button:hover {
    background-color: #4018e0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.border-primary {
  border-color: #007bff !important;
  border-width: 4px !important;
  border-style: solid !important;
}
